{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doge Chat</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
</head>
<body>
    <div id="doge_page">
        <div id="doge_top_bar">
            <img id="doge_back" src="{% static 'app/icons/previous.png' %}" alt="">
            <span></span>
        </div>
        <div id="doge_img"></div>
        <font face='Comic Sans MS'>
            <div id="doge_text_area"></div>
        </font>
    </div>
    <div class="page selected" id="chat">
        {% include 'app/chat.html' %}
    </div>

    <div id="addfriend_page">
        <div id="addfriend_top_bar">
            <img id="add_back" src="{% static 'app/icons/previous.png' %}" alt="">
            <span>Add Friend</span>
        </div>
    </div>
    <div class="page" id="people">
        <div id="people_top_bar">
            <img id="add_but" src="{% static 'app/icons/add.png' %}" alt="">
            <span id="contacts_title">Friends</span>
        </div>
        {% include 'app/people.html' %}
    </div>


    <div id="btm_bar">
        <div class="page_switcher selected" data-pageid="chat">
            <img src="{% static 'app/icons/chat_icon.png' %}" alt="">
            <span>Chat</span>
        </div><div class="page_switcher" data-pageid="people">
            <img src="{% static 'app/icons/people_icon.png' %}" alt="">
            <span>People</span>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'app/js/script.js' %}"></script>
    <style>
        #doge_img{
            background-image: url({% static 'app/img/doge_img.jpg' %});
        }
    </style>
</body>
</html>